<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @scaffoldtest.content %>
</p>

<%= link_to 'Edit', edit_scaffoldtest_path(@scaffoldtest) %> |
<%= link_to 'Back', scaffoldtests_path %>
